{% extends basetemplate|default:"base.html" %}
{% load i18n %}

{% block title %}
  {% blocktranslate %}Confirm deletion of {{ object }}{% endblocktranslate %}
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="text-center">
      <form action="" method="post">
        {% csrf_token %}
        <h4>{% translate "Confirm deletion of" %}:</h4>
        <h3>
          <strong>{{ object }}</strong>
        </h3>
        <input class="btn btn-danger"
               type="submit"
               value="{% translate "Yes, delete" %}" />
      </form>
    </div>
  </div>
{% endblock content %}
