{% extends "generic/generic_content.html" %}
{% load generic %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% translate "Create" %}
{% endblock title %}

{% block content %}
  <div class="container">
    {% get_model_from_modelform form as model %}
    {% template_list model prefix="partials/" suffix="_nav.html" as template_list %}
    {% include template_list with object=model %}
    <div class="border-bottom mb-5 pb-3">
      <h1 class="h2">{% translate "Create" %} {{ model.content_type }}</h1>
    </div>
    <div>{% crispy form form.helper %}</div>
  </div>
{% endblock content %}
