{% extends "generic/generic_content.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% if object %}
    {% translate "Edit" %} {{ object }}
  {% else %}
    {% translate "Create" %}
  {% endif %}
{% endblock title %}

{% block col %}
  <div class="card">
    <div class="card-header">
      {% if object %}
        {% translate "Edit" %} {{ object }}
      {% else %}
        {% translate "Create" %}
      {% endif %}
    </div>
    <div class="card-body">{% crispy form form.helper %}</div>
  </div>
{% endblock col %}
