{% extends "generic/genericmodel_detail.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load generic %}

{% block title %}
  {% blocktrans with object as object %}Edit {{ object }}{% endblocktrans %}
{% endblock title %}

{% block attributes %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <dl class="row border rounded mx-0">
      {% for field in form %}
        <dt class="col-sm-4 py-3 border-bottom">{{ field.label }}</dt>
        <dd class="col-sm-8 border-bottom mb-0 d-flex align-items-center">
          {{ field }}{{ field.errors }}
        </dd>
      {% endfor %}
    </dl>
    <input type="submit" value="Save">
  </form>
{% endblock attributes %}
