{% extends basetemplate|default:"base.html" %}
{% load generic %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% blocktranslate %}Updating {{ object }}{% endblocktranslate %}
{% endblock title %}

{% block content %}
  <div class="container">
    <h4 class="mb-4">
      {% blocktranslate with url=object.get_absolute_url uri=uri|urlize %}Updating <a href="{{ url }}">{{ object }}</a> using the data from {{ uri }}{% endblocktranslate %}
    </h4>
    {% if form.fields %}
      {% crispy form form.helper %}
    {% else %}
      {% blocktranslate with uri=uri|urlize %}No data matching attributes of this object could be fetched from {{uri}}{% endblocktranslate %}
    {% endif %}
  </div>
{% endblock content %}
