{% extends "generic/genericmodel_single.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% blocktranslate with verbose_name=form.instance.get_verbose_name %}Import {{ verbose_name }}{% endblocktranslate %}
{% endblock title %}

{% block genericmodel-single.header %}
  <h1 class="h4">
    {% blocktranslate with verbose_name=form.instance.get_verbose_name %}Import {{ verbose_name }}{% endblocktranslate %}
  </h1>
{% endblock genericmodel-single.header %}

{% block genericmodel-single.object-listview-link %}
  {% include "generic/partials/object_listview_link.html" with object=form.instance %}
{% endblock genericmodel-single.object-listview-link %}

{% block genericmodel-single.body %}
  {% crispy form form.helper %}
{% endblock genericmodel-single.body %}
