{% extends "generic/generic_content.html" %}
{% load static %}
{% load generic %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'css/generic_overview.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
  <div class="container">
    {% get_genericmodels as genericmodels %}
    {% regroup_filter_empty genericmodels "Config.overview_section" as genericmodels %}
    {% for group, models in genericmodels.items %}
      <h1 class="h2">{{ group }}</h1>
      <div class="model-overview-container">
        {% for model in models %}
          <a class="model-overview" href="{{ model.get_listview_url }}">
            {{ model.get_verbose_name }}
            <span class="count">{{ model.get_count }}</span>
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
