<!-- A container to carry the data relevant for both the form and the table so that it's DRY -->
<div class="triple_data_carrier" data-model_self_class="{{ model_self_class }}" data-model_other_class="{{ model_other_class }}" data-model_self_id="{{ model_self_id }}" data-should_append="false" data-should_include_other_entity="true" data-should_include_remove_button="false" data-should_include_create_button="true">
    <!-- anchor classes are defined for ajax targets to inject their responses nicely into their proper place -->
    <div class="triple_form_anchor">
        {{ triple_form }}
    </div>
    <!-- anchor classes are defined for ajax targets to inject their responses nicely into their proper place -->
    <div class="triple_table_anchor">
        {{ triple_table }}
    </div>
</div>