{% load generic %}
<div class="card">
  <div class="card-header">

    {% block card-header %}
      {{ object }}
    {% endblock card-header %}
  </div>
  <div class="card-body">

    {% block card-body %}
      {% model_mro_templates object prefix="partials/" suffix="_card_table.html" as template_list %}
      {% include template_list %}
    {% endblock card-body %}
  </div>
  <div class="card-footer">
    {% app_templates suffix="/partials/card_footer.html" as detail_templates %}
    {% for template in detail_templates %}
      {% include template %}
    {% endfor %}
  </div>
</div>
