{% extends basetemplate %}
{% load static %}
{% load django_tables2 %}

{% block title %}{{ object }}{% endblock %}

{% block scriptHeader %}
  {{ block.super }}

  {% if tei %}
    <link rel="stylesheet"
          href="{{ ceteicean_css }}"
          media="screen"
          charset="utf-8">
    <script src="{{ ceteicean_js }}"></script>
  {% endif %}

  {% if iiif %}<script src="{{ openseadragon_js }}"></script>{% endif %}

{% endblock scriptHeader %}

{% block content %}
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2">

            {% if object.get_prev_url %}
              <h2>
                <a href="{{ object.get_prev_url }}" style="float:right">
                  <span class="material-symbols-outlined">chevron_left</span>
                </a>
              </h2>
            {% endif %}

          </div>
          <div class="col-md-8">
            <h2 style="text-align: center;">

              {% if object.get_listview_url %}
                <a href="{{ object.get_listview_url }}">
                  <small>{{ entity_type }}s</small>
                </a>
              {% else %}
                <small>{{ entity_type }}s</small>
              {% endif %}

              {{ object }}

              {% block object-actions %}

                {% if user.is_authenticated %}
                  {% if object.get_edit_url %}
                    <a href="{{ object.get_edit_url }}">
                      <span class="material-symbols-outlined">edit</span>
                    </a>
                  {% endif %}

                  {% if object.get_delete_url %}
                    |
                    <a href="{{ object.get_delete_url }}">
                      <span class="material-symbols-outlined">delete</span>
                    </a>
                  {% endif %}

                  {% if object.get_duplicate_url %}
                    |
                    <a href="{{ object.get_duplicate_url }}" title="Duplicate">
                      <span class="material-symbols-outlined">content_copy</span>
                    </a>
                  {% endif %}
                {% endif %}

              {% endblock object-actions %}

              {% block object-actions-extra %}
              {% endblock object-actions-extra %}

            </h2>
          </div>
          <div class="col-md-2">

            {% if object.get_next_url %}
              <h2>
                <a href="{{ object.get_next_url }}" style="float:left">
                  <span class="material-symbols-outlined">chevron_right</span>
                </a>
              </h2>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h3>
                  General Info
                  <a href="/entity/{{ object.id }}">
                    <small>
                      <span class="material-symbols-outlined">database</span>
                    </small>
                  </a>
                </h3>
              </div>
              <div class="card-body p-0">

                {% block info-table %}
                  <table class="table table-hover">
                    {% for field, value in relevant_fields %}
                      <tr>
                        <th>{{ field.verbose_name }}</th>
                        <td>
                          <small>{{ value }}</small>
                        </td>
                      </tr>
                    {% endfor %}

                    {% if no_merge_labels %}
                      <tr>
                        <th>Labels</th>
                        <td>
                          {% for x in no_merge_labels %}
                            <li>
                              <small>{{ x.label_type }}:</small>{{ x.label }}
                            </li>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endif %}

                    {% if object.kind %}
                      <tr>
                        <th>Type</th>
                        <td>{{ object.kind }}</td>
                      </tr>
                    {% endif %}

                    {% if object.start_date or object.end_date %}
                      <tr>
                        <th>Date</th>
                        <td>

                          {% if object.start_date_written %}
                            <abbr title="{{ object.start_date }}">{{ object.start_date_written }}</abbr>
                          {% endif %}

                          {% if object.end_date %}- <abbr title="{{ object.end_date }}">{{ object.end_date_written }}</abbr>{% endif %}

                        </td>
                      </tr>
                    {% endif %}

                    {% if object.lat and object.lng %}
                      <tr>
                        <th>Lat/Lng</th>
                        <td>{{ object.lat }} / {{ object.lng }}</td>
                      </tr>
                    {% endif %}

                  </table>
                {% endblock info-table %}

                {% block info-metadata %}
                  <table class="table table-hover">

                    {% if object.collections.all %}
                      <tr>
                        <th>Collection(s)</th>
                        <td>
                          {% for x in object.collection.all %}<li>{{ x }}</li>{% endfor %}
                        </td>
                      </tr>
                    {% endif %}

                    <tr>
                      <th>Uri(s)</th>
                      <td>
                        {% for x in object.uri_set.all %}
                          <a href="{{ x }}">{{ x }}</a>
                          <br />
                        {% endfor %}
                      </td>
                    </tr>

                    {% if object.notes %}
                      <tr>
                        <th>Notes</th>
                        <td>{{ object.notes }}</td>
                      </tr>
                    {% endif %}

                    {% if object.references %}
                      <tr>
                        <th>References</th>
                        <td>{{ object.references }}</td>
                      </tr>
                    {% endif %}

                  </table>
                {% endblock info-metadata %}

                {% block left-pane-additional %}
                {% endblock left-pane-additional %}

              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h3>Relations</h3>
              </div>
              <div class="card-body">

                {% block relations %}
                  {% for obj in right_card %}

                    {% if obj.1.data|length > 0 %}
                      <h4>{{ obj.0 }}</h4>
                      <div id="tab_{{ obj.2 }}">{% render_table obj.1 %}</div>
                    {% endif %}

                  {% endfor %}
                {% endblock relations %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">

      {% if iiif %}
        <div class="card-body">
          <div id="iiif" style="width: 100%; height: 400px"></div>
        </div>
      {% endif %}

    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}

  {% if tei %}
    <script type="text/javascript">
      var CETEIcean = new CETEI();
      var teiString = $("#teisource").text();
      CETEIcean.makeHTML5(teiString, function(data) {
        $('#teisource').hide()
        document.getElementById("teiviewer").appendChild(data)
        CETEIcean.addStyle(document, data);
      });
    </script>
  {% endif %}

  {% if iiif %}
    <script type="text/javascript">
      var viewer = OpenSeadragon({
        id: "iiif",
        tileSources: "{{iiif_server }}{{iiif_info_json }}info.json",
        prefixUrl: "{{ openseadragon_img }}"
      });
    </script>
  {% endif %}

{% endblock scripts %}
