<!DOCTYPE html>
{% load static %}
{% load apis_metainfo_extras %}
{% load apiscore %}
{% load apis_templatetags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>

      {% block title %}

        {% if object %}
          {{ object }}
        {% else %}
          Title Placeholder
        {% endif %}

      {% endblock %}

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block metaDescription %}
      <meta name="description" content="Description">
      <meta name="author" content="Author">
    {% endblock %}

    <!-- Start favicons -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% shared_url %}favicon/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% shared_url %}favicon/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% shared_url %}favicon/favicon-16x16.png" />
    <link rel="manifest" href="{% shared_url %}favicon/manifest.json" />
    <link rel="mask-icon"
          href="{% shared_url %}favicon/safari-pinned-tab.svg"
          color="#00aba9" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />

    {% block styles %}
      {% include "partials/bootstrap4_css.html" %}
    {% endblock styles %}

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" />
    <meta name="theme-color" content="#ffffff" />
    <!-- End favicons -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% include "apis_entities/apis_templatetag.html" %}
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500"
          rel="stylesheet" />

    {% block scriptHeader %}{% endblock %}

  </head>
  <body role="document"
        class="home contained fixed-nav"
        id="body"
        style="height: unset!important"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="hfeed site" id="page">
      <div class="wrapper-fluid wrapper-navbar sticky-navbar"
           id="wrapper-navbar"
           itemscope=""
           itemtype="http://schema.org/WebSite">
        <a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>
        <!-- Start site navigation -->
        <nav class=" 
          {% block nav-class %}navbar navbar-expand-lg navbar-light bg-light border-bottom mb-2 p-0{% endblock nav-class %}
           ">
          <div class="container-fluid">

            {% block navbar-before %}
            {% endblock navbar-before %}

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" />
            </button>
            <!-- Start main menu -->
            <div class="collapse navbar-collapse justify-content-end"
                 id="navbarNavDropdown">
              <ul id="main-menu" class="navbar-nav mr-auto">

                {% block main-menu %}
                  <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                      Entities
                      <span class="caret" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                      {% block entities-menu-items %}
                        {% entities_verbose_name_plural_listview_url as entities %}
                        {% for verbose_name_plural, list_url in entities %}
                          <a class="dropdown-item" href="{{ list_url }}">{{ verbose_name_plural|capfirst }}</a>
                        {% endfor %}
                      {% endblock entities-menu-items %}

                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Relations
                      <span class="caret" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                      {% block relations-menu-items %}
                        <a class="dropdown-item"
                           href="{% url 'apis:apis_relations:generic_relations_list' "property" %}">Properties</a>
                        <a class="dropdown-item"
                           href="{% url 'apis:apis_relations:generic_relations_list' "triple" %}">Triples</a>
                      {% endblock relations-menu-items %}

                    </div>
                  </li>
                {% endblock main-menu %}

                {% block main-menu-extra %}
                {% endblock main-menu-extra %}

              </ul>

              {% block userlogin-menu %}
                <!-- Start user login submenu -->
                <ul class="navbar-nav">

                  {% if user.is_authenticated %}
                    <li class="nav-item dropdown ml-auto">
                      <a href=""
                         class="nav-link dropdown-toggle"
                         data-toggle="dropdown"
                         role="button"
                         aria-haspopup="true"
                         aria-expanded="false">User: {{ user.get_username }}</a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-item">
                          <a class="nav-link p-0" href="{% url 'apis:logout' %}?next=/">
                            <span class="material-symbols-outlined">logout</span>
                            log out
                          </a>
                        </div>
                      </div>
                    </li>
                  {% else %}
                    <li class="nav-item dropdown ml-auto">
                      <a class="nav-link p-0"
                         href="{% url 'apis:login' %}?next={{ request.path|urlencode }}">
                        <span class="material-symbols-outlined">login</span>
                      </a>
                    </li>
                  {% endif %}

                </ul>
                <!-- End user login submenu -->
              {% endblock userlogin-menu %}

            </div>
            <!-- End main menu -->
          </div>
        </nav>
        <!-- End site navigation -->
      </div>
      <!-- Start main content block -->
      <div id="content">

        {% block content %}{% endblock %}

      </div>
      <!-- End main content block -->
      <div class="d-flex footer-separator justify-content-center p-2"></div>

      {% block footer %}
        <div id="wrapper-footer-full" class="fundament-default-footer">
          <div class="d-flex flex-column container-fluid p-4"
               id="footer-full-content"
               tabindex="-1">
            <div class="d-flex flex-column align-self-center justify-content-center">
              <div class="d-flex flex-column">
                <div class="align-self-center p-1">
                  <a href="https://www.oeaw.ac.at/acdh/">
                    <img class="w-75"
                         alt="ACDH website"
                         src="https://fundament.acdh.oeaw.ac.at/common-assets/images/acdh_logo.svg" />
                  </a>
                </div>
                <div class="align-self-center w-50 p-1 text-center">
                  Austrian Centre for Digital Humanities (ACDH) of the Austrian Academy of Sciences
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endblock footer %}

      {% block imprint %}
      {% endblock imprint %}

    </div>

    {% block scripts %}
      {% include "partials/bootstrap4_js.html" %}
      <script type="text/javascript"
              src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
      <script>
        document.body.addEventListener('htmx:beforeSwap', function(event) {
          if (event.detail.xhr.status === 204) {
            // Swap content even when the response is empty.
            event.detail.shouldSwap = true;
          }
        });
      </script>
    {% endblock %}

    {% block scripts2 %}
    {% endblock scripts2 %}

    {% block modal %}
      <!-- Modal -->
      <div class="modal fade"
           id="modal"
           tabindex="-1"
           aria-labelledby="modalLabel"
           aria-hidden="true">
        <div class="modal-dialog" style="max-width: 800px;">
          <div id="modal-here" class="modal-content"></div>
        </div>
      </div>
    {% endblock modal %}

    {% block backtotopbtn %}
      {% include "partials/backtotopbtn.html" %}
    {% endblock backtotopbtn %}

  </body>
</html>
