{% load apiscore %}
{% with object|opts as opts %}
  <ul class="nav nav-tabs card-header-tabs float-right">
    <li class="nav-item">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Actions</a>
      <div class="dropdown-menu">
        <a class="dropdown-item text-danger"
           href="{% url "apis_core:apis_entities:generic_entities_delete_view" opts.verbose_name object.id %}">
          <span class="material-symbols-outlined material-symbols-align">delete</span> Delete
        </a>
        <a class="dropdown-item"
           style="color: blueviolet"
           href="{% url "apis_core:apis_entities:generic_entities_duplicate_view" opts.verbose_name object.id %}">
          <span class="material-symbols-outlined material-symbols-align">content_copy</span> Duplicate
        </a>
        <a class="dropdown-item"
           style="color: dodgerblue"
           href="{% url "apis_core:apis_entities:generic_entities_merge_view" opts.verbose_name object.id %}">
          <span class="material-symbols-outlined material-symbols-align">cell_merge</span> Merge
        </a>
      </div>
    </li>
  </ul>
{% endwith %}
