<div class="d-flex flex-column container-fluid p-4" id="footer-full-content" tabindex="-1">
  <div class="d-flex flex-column align-self-center justify-content-center">
    <div class="d-flex flex-column">
      <div class="align-self-center p-1">
        <a href="https://www.oeaw.ac.at/acdh/">
          <img class="w-75"
               alt="ACDH website"
               src="https://fundament.acdh.oeaw.ac.at/common-assets/images/acdh_logo.svg"/>
        </a>
      </div>
      <div class="align-self-center w-50 p-1 text-center">
        Austrian Centre for Digital Humanities (ACDH) of the Austrian Academy of Sciences
      </div>
    </div>
  </div>
</div>
