{% extends basetemplate|default:"base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load search %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'css/search.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
  <div class="container">
    {% crispy form form.helper %}
    <hr>
    {% if object_list %}
      {{ page_obj.paginator.count }} results
      <ul class="search-results">
        {% for result in object_list %}
          <li>
            {% with result.content_type_id|id_to_content_type as content_type %}
              <div class="search-result-title">
                <a href="{% url 'apis_core:generic:detail' content_type result.object_id %}">{{ result.title|highlight_matches_string:form.query_str.value|safe }}</a>
                <span title="{{ result.frank|floatformat:2 }}, {{ result.title_rank|floatformat:2 }}, {{ result.content_rank|floatformat:2 }}, {{ result.contains }}">🛈</span>
              </div>
            {% endwith %}
            {% if form.with_content.value %}
              <p>
                {% highlight_matches result.content form.query_str.value as matches %}
                <table class="search-highlights table small">
                  {% for key, value in matches.items %}
                    {% if value.orig != result.title %}
                      {% get_model_field_by_content_type_id_and_name result.content_type_id key as field %}
                      <tr>
                        <td>{{ field.verbose_name }}</td>
                        <td>
                          {% for value in value.match %}<span class="single-match">{{ value|safe }}</span>{% endfor %}
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </table>
              </p>
            {% endif %}
            <div class="metadata">
              {% with result.content_type_id|id_to_content_type as content_type %}
                <span class="content-type">{{ content_type.model_class.get_verbose_name }}</span>
              {% endwith %}
            </div>
          </li>
        {% endfor %}
      </ul>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link"
               {% if page_obj.has_previous %}href="{% querystring page=page_obj.previous_page_number %}" {% else %}tabindex="-1" aria-disabled="true"{% endif %}>Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
          </li>
          <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link"
               {% if page_obj.has_next %}href="{% querystring page=page_obj.next_page_number %}" {% else %}tabindex="-1" aria-disabled="true"{% endif %}>Next</a>
          </li>
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock content %}
