a #logo:hover {
    opacity: 0.5;
}

footer a:has(> img),
footer a:has(> span[class*="material-symbols"]) {
    display: inline-block;
}

footer a:has(> img):hover,
footer a:has(> span[class*="material-symbols"]):hover {
    text-decoration: none;
}

/* main modal in modal block */
#modal .modal-dialog {
    max-width: 800px;
}

/* scroll-to-top button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    opacity: 0.5;
}

footer .icon {
    height: 1em;
    font-size: 1.5em;
}
