/*
 * Generate specific font file on:
 * (the icon names have to be sorted alphabetically)
 * https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=api,bookmarks,cell_merge,chevron_left,chevron_right,code,content_copy,delete,download,edit,history,link,location_on,login,logout,undo,visibility,width
 * and put the file into the /static/fonts/ folder
 */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(/static/fonts/material-symbols.woff) format('woff');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    /* preferred icon size */
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* fix misaligned Material Icons/Symbols */
.material-symbols-align {
    vertical-align: bottom;
}
