{% extends "base.html" %}
{% load generic %}
{% load i18n %}
{% load static %}

{% block scriptHeader %}
  {{ block.super }}
  <script src="{% static 'js/toast.js' %}" defer></script>
{% endblock scriptHeader %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'css/generic.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block main-menu %}
  {{ block.super }}
  {% get_pure_genericmodels as genericmodels %}
  {% any_view_permission genericmodels as anyperm %}
  {% if anyperm %}
    <li class="nav-item dropdown">
      <a href="#"
         class="nav-link dropdown-toggle"
         data-bs-toggle="dropdown"
         role="button"
         aria-haspopup="true"
         aria-expanded="false">
        {% translate "Other models" %}
        <span class="caret" />
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for model in genericmodels %}
          {% if model.get_view_permission in perms %}
            <a class="dropdown-item"
               href="{{ content_type.model_class.get_listview_url }}">{{ model.get_verbose_name_plural|capfirst }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </li>
  {% endif %}
{% endblock main-menu %}

{% block messages %}
  <div id="snackbar">
    {% for message in messages %}
      <dialog class="mytoast alert alert-{{ message.tags }}" role="alert" open>
        {{ message }}
      </dialog>
    {% endfor %}
    <dialog data-message-toast class="mytoast alert" role="alert">
    </dialog>
  </div>
{% endblock messages %}
