.action-container {
  line-height: 0;
  width: 0;
  min-width: fit-content;
  height: 0;
  min-height: fit-content;
}

.action-container span:hover {
  color: black;
}

.action-delete {
  color: #982530;
}

.action-view {
  color: #004fa3;
}

.action-edit {
  color: #664d03;
}
