.model-overview-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    width: 100%;
    margin-bottom: 2em;
}

.model-overview {
    background-color: whitesmoke;
    padding: .8em;
    border-radius: .8em;
    text-align: center;
    transition-duration: .15s;
    cursor: pointer;
    text-decoration: none;
    color: black;

    span.count {
        display: block;
        font-size: 2em;
    }
}

.model-overview:hover {
    background: #86b7fe;
}
