.autocomplete-wrapper {
  display: grid;
  position: relative;
}
.suggestions-dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 100;

  font-size: small;
  border-top: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;

  .suggestion {
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
    cursor: pointer;
    transition-duration: .15s;

  }

  .suggestion:hover {
    background: #86b7fe;
  }
}
