.selected-item {
    background: lightgrey;
    border-radius: .25em;
    font-size: small;
    padding-left: .4em;
    padding-right: .4em;
    margin-right: .2em;

    .delete {
        font-weight: bold;
        cursor: pointer;
    }
}
