.search-result-title {
    display: grid;
    grid-template-columns: auto auto;

    span {
        justify-self: right;
    }
}

mark {
    background-color: #ffde59;
    color: #333;
    padding: 0.1em 0em;
    margin: 0 0;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

ul.search-results {
    list-style-type: none;
    padding-left: 0;

    >li {
        background: whitesmoke;
        border-radius: .5em;
        padding: 1em;
        margin-bottom: 1em;

        .metadata {
            margin-top: 1em;

            span {
                display: inline;
                background-color: lightgrey;
                border-radius: .25em;
                padding: .25em;
                font-size: small;
            }
        }
    }

}

table.search-highlights {
    table-layout: fixed;
    width: 100%;

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    td:first-child {
        width: 20%;
    }

    td:last-child {
        width: 80%;
    }

    td .single-match {
        margin-left: 1em;
    }
}
