mark {
    background-color: #ffde59;
    color: #333;
    padding: 0.1em 0.3em;
    margin: 0 0.1em;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

ul.search-results {
    list-style-type: none;
    padding-left: 0;

    li {
        background: whitesmoke;
        border-radius: .5em;
        padding: 1em;
        margin-bottom: 1em;


        .metadata span {
            display: inline;
            background-color: lightgrey;
            border-radius: .25em;
            padding: .25em;
        }
    }

}
