{% extends "apis_core/apis_entities/abstractentity.html" %}
{% load django_tables2 %}
{% load apis_relations %}

{% block col-zero %}
  <div class="card">
    <div class="card-body">{% include "generic/partials/object_table.html" %}</div>
  </div>
{% endblock col-zero %}

{% block col-one %}
  <div class="card">
    <div class="card-body">
      {% triple_tables_related_detail object as tables %}
      {% for objecttype, table in tables %}
        <h5>{{ objecttype.name|title }}</h5>
        <div id="tab_{{ objecttype }}">{% render_table table %}</div>
      {% endfor %}
    </div>
  </div>
{% endblock col-one %}
