<!DOCTYPE html>
{% load static %}
{% load browsing_extras %}
<html lang="en">
<head>
{% block head %}
{% include "partials/head.html" %}
{% endblock head %}
</head>

<body role="document" class="home contained fixed-nav" id="body" style="height: unset!important;">
{% block body %}
<div class="hfeed site" id="page">
{% block page %}

  <div class="wrapper-fluid wrapper-navbar sticky-navbar" id="wrapper-navbar" itemscope="" itemtype="http://schema.org/WebSite">
  {% block navbar %}
  {% include "partials/navbar.html" %}
  {% endblock navbar %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>

  <div class="d-flex footer-separator justify-content-center p-2"></div>

  <div id="wrapper-footer-full" class="fundament-default-footer">
  {% block footer %}
  {% include "partials/footer.html" %}
  {% endblock footer %}
  </div>

  <div id="wrapper-footer-secondary" class="footer-imprint-bar p-2 text-center">
  {% block footer_secondary %}
  {% include "partials/footer-secondary.html" %}
  {% endblock footer_secondary %}
  </div>

{% endblock page %}
</div>

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ SHARED_URL }}fundament/dist/fundament/js/fundament.min.js"></script>
  {% include "partials/js/bootstrap-datepicker_js.html" %}
  {% include "partials/js/bootstrap-multiselect_js.html" %}
  {% include "partials/js/bootstrap-select_js.html" %}
  {% include "partials/js/leaflet_js.html" %}
  {% include "partials/js/leaflet-markercluster_js.html" %}
  {% include "partials/js/scroll-to-top_js.html" %}
  {% include "partials/js/select2_js.html" %}
  {% include "partials/js/tooltipster_js.html" %}
{% endblock scripts %}

{% endblock body %}
</body>
</html>
