<div id="ajax_form_id">
    <h3>ajax_reification_form</h3>
    <form id="generic_reification_form_id_form" onsubmit="return false;">
        {{ property_autocomplete_field_to_reif_rendered }}
        {{ property_autocomplete_field_to_reif_rendered2 }}
        {% for field in reification_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {% if not field.field.widget.is_hidden %}
            {{ field.label_tag }}
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        {{ property_autocomplete_field_from_reif_rendered }}
        {{ entity_autocomplete_field_from_reif_rendered }}
        <div id="contextual_triple_form_rendered_1">
            {{ contextual_triple_form_rendered }}
        </div>
        <input onclick="ajax_2_create_contextual_triple_form({'entity_type_self_str':'bookpublicationrelationship', 'entity_type_other_str':'e40_legal_body', 'id_number':2, 'div_origin':'contextual_triple_form_rendered_1'})" type="submit" class="btn btn-primary" value="ajax_2_create_contextual_triple_form" />
        <br>
        <input onclick="ajax_2_post(this.parentElement)" type="submit" class="btn btn-primary" value="reification" />
    </form>
</div>

<script>
    function read_form_data(form_elem) {
        var serializedData = $(form_elem).serialize();
        console.log(serializedData);
        let csrftoken = '{{ csrf_token }}'
    }
</script>