<div id="{{ form_id }}">
    <table>
        <tr>
            <td>
                {{ single_autocomplete_property_form }}
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                {{ single_autocomplete_entity_form }}
            </td>
            <td>
                <input onclick="document.getElementById('{{ form_id }}').remove()" type="submit" class="btn btn-primary" value="-" />
            </td>
        </tr>
    </table>
    <script>
        generated_form_counter += 1;
    </script>
</div>