<div class="contextual_triple_form" data-entity_type_self="{{ entity_type_self_str }}" data-entity_type_other="{{ entity_type_other_str }}" data-entity_id_self="{{ entity_id_self }}" data-entity_id_other="{{ entity_id_other }}">
    <table>
        <tr>
            <td>
                {{ single_autocomplete_property_form }}
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                {{ single_autocomplete_entity_form }}
            </td>
            <td>
                {% if should_include_remove_button %}
                    <input onclick="this.parentElement.parentElement.parentElement.parentElement.parentElement.remove()" type="submit" class="btn btn-primary" value="-" />
                {% endif %}
            </td>
        </tr>
    </table>
    <script>
        generated_form_counter += 1;
    </script>
</div>