{% extends basetemplate|default:"base.html" %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block scriptHeader %}
  {{ block.super }}

  {% if apis_bibsonomy %}
    {% include 'apis_bibsonomy/apis_bibsonomy_include.html' %}
  {% endif %}

{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="card">

      {% block card-header %}
        <div class="card-header" style="text-align: center;">

          {% block card-header-content %}
            <h1>
              <a href="{{ instance.get_listview_url }}">
                <small>{{ entity_type }}s</small>
              </a>
              <strong>{{ instance }}</strong> <a href="{{ instance.get_absolute_url }}">
                <span class="material-symbols-outlined">visibility</span>
              </a>
              <a href="/entity/{{ instance.id }}">
                <span class="material-symbols-outlined">database</span>
              </a>
              {% url 'apis:apis_api:historylog-list' as history_log_url %}
              {% if history_log_url %}
              <a data-bs-toggle="popover_history" data-apis-entity-type="{{entity_type}}" data-apis-id="{{instance.id}}" title="History of {{instance}}">
                <span class="material-symbols-outlined" style="color: #007bff; cursor: pointer;">history</span>
              </a>
              {% endif %}
            </h1>
          {% endblock card-header-content %}

        </div>
      {% endblock card-header %}

      {% block card-body %}
        <div class="card-body">

          {% block card-body-content %}
            <div class="row">
              <div class="col-md-5">
                <div class="card">
                  <div class="card-header">
                    <h3>
                      <small>Edit the Entity</small>
                    </h3>
                  </div>
                  <div class="card-body">
                    <form action="" method="post">

                      {% if apis_bibsonomy %}
                        <button hidden=True class="bibsonomy-anker-hidden" data-bibs-contenttype={{ entity_type }} data-bibs-object_pk={{ instance.pk }} data-bibs-form-elements="{{ apis_bibsonomy }}">Ref
                        </button>
                      {% endif %}

                      {% crispy form %}

                      {% block editbuttons %}
                        <div class="mt-2">
                          <input class="btn btn-primary" type="submit" value="modify" />
                          <button class="compare_tooltip btn btn-default"
                                  data-tooltip='{"app":"apis_entities","kind":"{{ entity_type|lower }}","pk":"{{ instance.pk }}"}'>
                            Revisions
                          </button>
                          <a class="btn btn-danger btn-primary"
                             href="{% url 'apis:apis_entities:generic_entities_delete_view' entity=entity_type pk=instance.pk %}">Delete</a>
                          <a class="btn btn-success"
                             href="{% url 'apis:apis_entities:generic_entities_create_view' entity_type %}">Create new {{ entity_type|title }}</a>
                        </div>
                      {% endblock editbuttons %}

                    </form>
                  </div>
                  <div class="card-footer">

                    {% block linkedOpenData %}
                      <h5 class="card-title">Linked Open Data</h5>

                      {% if instance.uri_set %}
                        <ul>
                          {% for uri in instance.uri_set.all %}<li>{{ uri.uri | urlize }}</li>{% endfor %}
                        </ul>
                      {% endif %}

                    {% endblock %}

                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card card-default">
                  <div class="card-header">
                    <h3>
                      <small> the Entity is related to
                      </h3>
                    </div>
                    <div class="card-body">
                      <div id="accordion" role="tablist" aria-multiselectable="true">

                        {% block additional_accordion %}
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a role="button"
                                   data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseOne"
                                   aria-expanded="true"
                                   aria-controls="collapseOne">Merge with</a>
                              </h4>
                            </div>
                            <div id="collapseOne"
                                 class="panel-collapse collapse in"
                                 role="tabpanel"
                                 aria-labelledby="headingOne">
                              <div id="tab_merge_with" class="panel-body">
                                {% load crispy_forms_tags %}
                                {% crispy form_merge_with  form_merge_with.helper %}
                              </div>
                            </div>
                          </div>
                          <hr />
                        {% endblock additional_accordion %}

                        {% block relations %}
                          {% for obj in right_card %}
                            <div class="card card-default">
                              <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                                <h4 class="card-title">
                                  <a role="button"
                                     data-toggle="collapse"
                                     data-parent="#accordion"
                                     href="#collapse{{ forloop.counter }}"
                                     aria-expanded="true"
                                     aria-controls="collapse{{ forloop.counter }}">{{ obj.0 }}</a>
                                </h4>
                              </div>
                              <div id="collapse{{ forloop.counter }}" class="card-collapse collapse 
                                {% if obj.3 %}in{% endif %}
                                 " role="tabcard" aria-labelledby="heading{{ forloop.counter }}">
                                <div id="tab_{{ obj.2 }}" class="card-body">{% render_table obj.1 %}</div>
                              </div>
                            </div>
                          {% endfor %}
                        {% endblock relations %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endblock card-body-content %}

        </div>
      {% endblock card-body %}

    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    function GetFormAjax(FormName , ObjectID , ButtonText) {
        function add_form(data) {
            // update our tooltip content with our returned data and cache it
            $('#tab_'+data.tab).find('div:eq(1)').remove();
            $('#tab_'+data.tab).append(data.form);
	        $('#form_PersonInstitutionForm div:first div:first select').focus();
            $('#tab_'+data.tab+" select.listselect2").each(function( index, element ){
                console.log($(this).data("autocompleteLightUrl"))
            $(this).select2({
                escapeMarkup: function(markup) {
                return markup;
            },
            templateResult: function(data) {
                return data.text;
            },
            templateSelection: function(data) {
                return data.text;
            },
                ajax: {
                url: $(this).data("autocompleteLightUrl"),
                dataType: 'json'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                },
            })


            })            //$(".form.ajax_form").unbind()
            console.log($('#tab_'+data.tab+" select.listselect2"))
            {% if apis_bibsonomy %}
            reinitialize_bibsonomy_tooltips()
            {% endif %}
        };
        if (!$.ApisForms) {
            $.ApisForms = {}
        };
        if (ObjectID === undefined) {
            if ($.ApisForms[FormName+'_'+'{{entity_type}}']) {
                var new_data = $.ApisForms[FormName+'_'+'{{entity_type}}']
                new_data.form = new_data.form.replace('##ENT_PK##', {{instance.pk}});
                add_form(new_data);
                return;
            };
        };
        if (ButtonText === undefined) {
            ButtonText = 'create/modify';
        };
        return $.ajax(
            {
                type: 'POST',
                url: '{% url 'apis:apis_relations:get_form_ajax' %}',
                beforeSend: function(request) {
                    var csrftoken = getCookie('csrftoken');
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                data: {
                    'FormName':FormName,
                    'SiteID':{{instance.pk}},
                    'ObjectID':ObjectID,
                    'ButtonText':ButtonText,
                    'entity_type': '{{entity_type}}',
                },
                success: function(data) {
                    add_form(data);
                    if (!ObjectID) {
                        $.ApisForms[FormName+'_'+'{{entity_type}}'] = data;
                        $.ApisForms[FormName+'_'+'{{entity_type}}'].form = $.ApisForms[FormName+'_'+'{{entity_type}}'].form
                        .replace('/{{instance.pk}}/', '/##ENT_PK##/');
                    };
                },
                error: function(error) {
                    console.log(error)
                }
            }
        );
    }
  </script>
  <script type="text/javascript">
    function EntityRelationForm_response(response){

        console.log("apis_core/apis_entities/templates/apis_entities/edit_generic.html:EntityRelationForm_response")

        if (response.test == false) {
            $('#'+response.DivID).replaceWith(response.form);
            //$(".form.ajax_form").unbind();
            if ($.ApisHigh.tt_instance_detail) {
            if ($.ApisHigh.tt_instance_detail["__state"] == 'stable') {
                $.ApisHigh.tt_instance_detail.content(response.form);
            } }
        } else {
            console.log('test did not fail');
             $('#tab_'+response.tab).find('div').remove();
             $('#tab_'+response.tab).append(response.table_html);
             initiate_compare_tooltip();
             {% if instance %}
             if (response.right_card) {
                 console.log('fetching form');
                 console.log(response.tab);
             GetFormAjax(response.tab);};
             if ($.ApisHigh){
             if ($.ApisHigh.tt_instance_detail["__state"] == 'stable') {
                $.ApisHigh.tt_instance_detail.close()
             } else {

             $('.reldelete').addClass('disabled')
           }}
             {% endif %}
        };
        unbind_compare_forms();
    }
  </script>
  <script type="text/javascript">
    function HighlForm_response(response){
        if (response.test == false) {
            $.ApisHigh.tt_instance.content(response.form);
            //$(".form.ajax_form").unbind()
        } else {
             $('#tab_'+response.tab+' div.table-container').remove();
             $('#tab_'+response.tab).prepend(response.table_html);
             //GetFormAjax(response.tab+'Form');
             $('#htxt_'+response.text.id).html($.parseHTML(response.text.text))
             $.ApisHigh.tt_instance.close()
             $('html, body').animate({ scrollTop: ($('#'+$.ApisHigh.selected_text.id).offset().top)}, 'slow');
             $('mark.highlight').off();
             $('mark.highlight').on("click", highlight_detail);
             initiate_compare_tooltip();
        }
    }
  </script>
  <script type="text/javascript">
    function PAddRelation_response(response){
        if (response.test == false) {
            $.ApisHigh.tt_instance.content(response.form);
            //$(".form.ajax_form").unbind()
        } else {
             $('#htxt_'+response.text.id).html($.parseHTML(response.text.text))
             $.ApisHigh.tt_instance.close()
             $('html, body').animate({ scrollTop: ($('#'+$.ApisHigh.selected_text.id).offset().top)}, 'slow');
             $('mark.highlight').off()
             $('mark.highlight').on("click", highlight_detail)
        }
    }
  </script>
  <script type='text/javascript'>
    function DeleteTempEntity(pk, kind, app_name=false) {
        if (app_name){
            var url = '/apis/api/'+app_name+'/'+kind+'/'+pk.toString()
        } else {
        var url = '/apis/api/'+kind+'/'+pk.toString()}
        $.ajax({
            type: 'DELETE',
            url: url,
            beforeSend: function(request) {
                  var csrftoken = getCookie('csrftoken');
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                  },
            statusCode : {
                204: function() {
                    if (kind=='HLAnnotation') {
                        $('*[data-hl-ann-id="'+pk+'"]').contents().unwrap()
                    } else {
                    $('#tempEntity_'+pk).parents('tr').remove()
                }
                }
            }
        })
    }
  </script>
  <script type='text/javascript'>
    function DeleteAnnTempEntity(an_pk, rel_class, rel_pk, app_name) {
        DeleteTempEntity(an_pk,"HLAnnotation");
        DeleteTempEntity(rel_pk, rel_class, app_name);
    };
  </script>
  <script type="text/javascript">
 function activate_editing(){
        {% for obj in right_card %}
        GetFormAjax("{{obj.2}}");
        //unbind_ajax_forms();
        {% endfor %}
 };
function deactivate_editing(){
    $('.reldelete').addClass("disabled");
    $('.reldelete').prop("disabled", true);
    $('.reledit').addClass("disabled");
    $('.reledit').prop("disabled", true);
 };
activate_editing();
{% url 'apis:apis_api:historylog-list' as history_log_url %}
{% if history_log_url %}
function activate_bs_popover_history(){
  function format_history_changes(changes){
    return changes.map(change => {
      console.log(change);
      return change["field"] + (change["old"].length > 0 ? " from '" + change["old"] + "'"  : "") + " to '" + change["new"] + "'";
    }).join(" | ");
  };
    $('[data-bs-toggle="popover_history"]').popover({
        html: true,
        template: '<div class="popover" style="max-width: 600px; max-height: 80%; overflow-y: scroll;" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        sanitize: false,
        content: function() {
            console.log("test")
            var tmpId = 'tmp-id-' + $.now();
            var entity_type = $(this).attr("data-apis-entity-type");
            var entity_id = $(this).attr("data-apis-id");
            fetch("{{ history_log_url }}?entity_type=" + entity_type + "&id=" + entity_id)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                var content = 
                  `<ul class='list-group'>
                  ${data["results"].map(item => {
                      console.log(item);
                      return "<li class='list-group-item'>" + 
                        (item["diff"]["changes"] ? format_history_changes(item["diff"]["changes"]) : "not specified") +
                        "<br/><small>" + 
                        "by " + 
                        (item["user"] ? item["user"] : "unknown") +
                        " at " +
                        item["timestamp"].split(".")[0].replace("T", " ") + 
                        "</small></li>";
                    }).join("\n")}
                  </ul>`;
                  console.log(content);
                $('#' + tmpId).removeClass('loading spinner')
                .html(content
                );
              })
            return $('<div>').attr('id', tmpId).addClass('loading spinner');
            //return $(content).children(".popover-body").html();
        },
    });
  };
activate_bs_popover_history();
{% endif %}
  </script>
{% endblock %}
