{% extends "webpage/base.html" %}
{% load static %}
{% block scriptHeader %}
{{block.super}}
{% if highlighter_active %}
      <link rel="stylesheet" href="{% static 'apis_highlighter/apis_highlighter.css' %}" />
	<script type="text/javascript" src="{% static 'apis_highlighter/apis_highlighter.js' %}?arbitrary_tag_to_avoid_cache"></script>
	{% endif %}
    {% if apis_bibsonomy %}
{% include 'apis_bibsonomy/apis_bibsonomy_include.html' %}
    {% endif %}
{% endblock %}
{% block Titel %}Create a {{entity_type|title}}{% endblock %}
{% load guardian_tags %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}
{% load django_tables2 %}
{% if instance %}
<!-- the function search_and_activate_dal_s2 is needed by triple forms, so it needs to be parsed before them, hence this small block of JS code here -->
<script type="text/javascript">
    function search_and_activate_dal_s2(elem) {
        if (elem instanceof Element) {
            if (elem.hasAttribute("data-autocomplete-light-url")) {
                $(elem).select2({
                    ajax: {
                        url: elem.getAttribute("data-autocomplete-light-url"),
                        dataType: 'json'
                    }
                });
            } else {
                elem.childNodes.forEach(e => search_and_activate_dal_s2(e));
            }
        }
    };
</script>
<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h1><a href="{{ instance.get_listview_url }}">
                <small>{{ entity_type }}s</small>
            </a>
                <strong>{{ instance }} </strong> <a href="{{ instance.get_absolute_url }}">
                    <i data-feather="eye" title="eye"></i>
                </a>
                <a href="/entity/{{instance.id}}">
                    <i data-feather="database" title="database"></i>
                </a>
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
            {% endif %}
            {% load crispy_forms_tags %}
                    <div class="card">
                        <div class="card-header">
                        	{% if instance %}
                                <h3>
                                    <small>Edit the Entity</small>
                                </h3>
            		        {% else %}
                                <h2>
                                    <small>create new object type:</small> <strong>{{ entity_type|title }}</strong>
                                </h2>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                            {% if apis_bibsonomy %}
                                <button hidden=True class="bibsonomy-anker-hidden" data-bibs-contenttype={{ entity_type }} data-bibs-object_pk={{instance.pk}} data-bibs-form-elements="{{ apis_bibsonomy }}">Ref</button>
                            {% endif %}
                                <div class="card card-default">
                            	{% crispy form %}

                                    <div class="card-header" role="tab" id="headingFour">
                                        <h4 class="card-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Texts
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="card-collapse collapse" role="tabcard" aria-labelledby="headingFour">
                                        <div class="card-body">
                                            {% block texts %}
                                            {% crispy form_text %}
                                            {% endblock %}
                                        </div>
                                    </div>
                            {% block linkedOpenData %}
                            {% if object_lod %}
                                <div class="card card-default">
                                    <div class="card-header" role="tab" id="headingSix">
                                        <h4 class="card-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                                                Linked Open Data
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne3" class="card-collapse collapse" role="tabcard" aria-labelledby="headingSix">
                                        <div id="tab_Revisions" class="card-body">
                                            <p>{% for lod in object_lod %}{% if forloop.last %}<a href="{{ lod.uri }}">{{ lod.uri }}</a>{% else %}<a href="{{ lod.uri }}">{{ lod.uri }}</a> <br  /> {% endif %}{% endfor %}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endblock %}
                            {% block editbuttons %}
                                {% if instance %}
                                {% if "change" in permissions %}
                                   <input class="btn btn-primary" type="submit" value="modify" />
                                {% endif %}
                                {% if instance %}
                                <button class="compare_tooltip btn btn-default" data-tooltip='{"app":"apis_entities","kind":"{{entity_type|lower}}","pk":"{{ instance.pk }}"}'>Revisions</button>
                                {% endif %}
                                {% if "delete" in permissions %}
                                   <a class ="btn btn-danger btn-primary" href="delete">Delete</a>
                                {% endif %}

            		    <a class ="btn btn-success" href="{% url 'apis:apis_entities:generic_entities_create_view' entity_type %}">Create new {{entity_type|title}}</a>
                                    {% else %}
                                    {% if "create" in permissions %}
                                    <input class="btn btn-primary" type="submit" value="create" />
                                        {% endif %}
                                                {% endif %}

                            {% endblock editbuttons %}
                            </div>
                        </form>
                        </div>
            {% if instance %}
                    </div>
                </div>
            {% endif %}
            {% if instance %}
                <div class="col-md-7">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3><small> the Entity is related to</h3>
                        </div>
                        <div class="card-body">
                            <div class="card" id="accordion" role="tablist" aria-multiselectable="true">
                            {% block additional_accordion %}
                            {% endblock additional_accordion %}
                            {% for triple_obj in triple_pane %}
                                <div class="card card-default">
                                    <div class="card-header" role="tab" id="heading{{forloop.counter}}">
                                        <h4 class="card-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                                {{ triple_obj.title }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{forloop.counter}}" class="card-collapse collapse" role="tabcard" aria-labelledby="heading{{forloop.counter}}">
                                        {{ triple_obj.triple_form_and_table }}
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
    {% if instance %}
            </div>
        </div>
    {% endif %}
{% if object_texts %}
    {% if user.is_superuser %}
        {% if form_ann_agreement %}
    <div class="row">
<div class="col-md-12">
<div class="card card-default">
    {% crispy form_ann_agreement form_ann_agreement.helper %}
    <div id="ann_agreement_tables"></div>
</div>
</div>
    </div>
            {% endif %}
        {% endif %}
<div class="row">
<div class="col-md-12">
  {% if ann_proj_form %}
<div class="card card-default">
{% crispy ann_proj_form ann_proj_form.helper %}
</div>
{% endif %}
{% for txt in object_texts %}
<div class="card card-default">
<div class="card-body">
    <div class="txt {{txt.kind|slugify}}" id="htxt_{{txt.id}}">{{txt.text|safe}}</div>
    <div class="agreement" id="agrm_{{txt.id}}"></div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
{% endif %}
{% load crispy_forms_tags %}
{% endblock %}
{% block scripts %}
{{block.super}}
{% if instance %}
<script type="text/javascript">
    const ajax_headers = {'X-CSRFToken': '{{ csrf_token }}'};

    // Common logic to fetch data from carrier, so there is this helper function for it
    function load_from_reification_data_carrier(reification_data_carrier) {
        return {
            "reification_type": reification_data_carrier.getAttribute("data-reification_type"),
            "model_self_class": reification_data_carrier.getAttribute("data-model_self_class"),
            "model_self_id": reification_data_carrier.getAttribute("data-model_self_id"),
        };
    };

    // Common logic to fetch data from carrier, so there is this helper function for it
    function load_from_triple_data_carrier(div_data_carrier) {
        return {
            "model_self_class": div_data_carrier.getAttribute("data-model_self_class"),
            "model_other_class": div_data_carrier.getAttribute("data-model_other_class"),
            "model_self_id": div_data_carrier.getAttribute("data-model_self_id"),
            "should_include_other_entity": div_data_carrier.getAttribute("data-should_include_other_entity"),
            "should_include_remove_button": div_data_carrier.getAttribute("data-should_include_remove_button"),
            "should_include_create_button": div_data_carrier.getAttribute("data-should_include_create_button"),
        };
    };

    // parses a triple form, extracts data both from the form as well as from its contextual data carrier
    function parse_triple_form(triple_form) {
        var div_data_carrier = triple_form.closest('.triple_data_carrier');
        var triple_form_data = load_from_triple_data_carrier(div_data_carrier);
        triple_form_data["triple_id"] = triple_form.getAttribute("data-triple_id");
        triple_form_data["property_id"] = "";
        triple_form_data["property_direction"] = "";
        triple_form_data["model_other_id"] = "";
        $(triple_form).serializeArray().forEach(field_dict => {
            if (field_dict["name"] == "property") {
                // here we need to parse and split according to the hackish data format injected into autocomplete's get_autocomplete_property_choices
                property_value = field_dict["value"];
                property_value = property_value.split("__");
                triple_form_data["property_id"] = property_value[0].split(":")[1];
                triple_form_data["property_direction"] = property_value[1].split(":")[1];
            } else if (field_dict["name"] == "entity_other") {
                triple_form_data["model_other_id"] = field_dict["value"];
            } else {
                throw new Error('Unexpected form field found.');
            }
        });
        return triple_form_data;
    }

    // calls the python function with same name, loads a populated form from a passed id
    function ajax_2_load_triple_form(div_origin, triple_id) {
        var div_data_carrier = div_origin.closest('.triple_data_carrier');
        var div_form_anchor = div_data_carrier.getElementsByClassName("triple_form_anchor")[0];
        var post_data = load_from_triple_data_carrier(div_data_carrier);
        post_data["triple_id"] = triple_id;
        $.ajax({
            type: 'POST',
            headers: ajax_headers,
            url: "{% url 'apis:apis_relations:ajax_2_load_triple_form' %}",
            data: post_data,
            success: function (response) {
                // In some cases we want to append a triple form instead of replacing them
                // also, jquery should be used here, because if innerHTML is used, the autocomplete of pre-existing forms is screwed up. No idea why.
                if (div_data_carrier.getAttribute("data-should_append") == "true") {
                    $(div_form_anchor).append(response);
                } else {
                    $(div_form_anchor).html(response);
                }
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    };

    // calls the python function with same name, loads an empty form and updated table
    function ajax_2_post_triple_form(div_origin) {
        var post_data = parse_triple_form(div_origin.closest('.triple_form'));
        $.ajax({
            type: 'POST',
            headers: ajax_headers,
            url: "{% url 'apis:apis_relations:ajax_2_post_triple_form' %}",
            data: post_data,
            success: function (response) {
                var div_form_anchor = div_origin.closest(".triple_data_carrier").getElementsByClassName("triple_form_anchor")[0];
                var div_table_anchor = div_origin.closest(".triple_data_carrier").getElementsByClassName("triple_table_anchor")[0];
                div_form_anchor.innerHTML = response["form"];
                div_table_anchor.innerHTML = response["table"];
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    };

    // calls the python function with same name, loads an updated table
    function ajax_2_delete_triple(div_origin, triple_id) {
        var div_data_carrier = div_origin.closest('.triple_data_carrier');
        var post_data = load_from_triple_data_carrier(div_data_carrier);
        post_data["triple_id"] = triple_id;
        $.ajax({
            type: 'POST',
            headers: ajax_headers,
            url: "{% url 'apis:apis_relations:ajax_2_delete_triple' %}",
            data: post_data,
            success: function (response) {
                var div_table_anchor = div_origin.closest(".triple_table_anchor");
                div_table_anchor.innerHTML = response;
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    };

    // calls the python function with same name, loads a populated form from a passed id
    function ajax_2_load_reification_form(div_origin, reification_id) {
        var reification_data_carrier = div_origin.closest(".reification_data_carrier");
        var post_data = load_from_reification_data_carrier(reification_data_carrier);
        post_data["reification_id"] = reification_id;
        $.ajax({
            type: 'POST',
            headers: ajax_headers,
            url: "{% url 'apis:apis_relations:ajax_2_load_reification_form' %}",
            data: post_data,
            success: function (response) {
                var div_form_anchor = reification_data_carrier.getElementsByClassName("reification_form_anchor")[0];
                div_form_anchor.innerHTML = response;
            },
            error: function (response) {
                console.log(response);
            }
        })
    };

    // calls the python function with same name, loads an empty form and updated table
    function ajax_2_post_reification_form(div_origin) {
        var reification_data_carrier = div_origin.closest(".reification_data_carrier");
        var post_data = load_from_reification_data_carrier(reification_data_carrier);
        post_data["reification_attr_form"] = {};
        post_data["triple_data_to_reification_list"] = [];
        post_data["triple_data_from_reification_list"] = [];
        var div_form_anchor = reification_data_carrier.getElementsByClassName("reification_form_anchor")[0];
        post_data["reification_attr_form"]["reification_id"] = div_form_anchor.getElementsByClassName("reification_attr_form")[0].getAttribute("data-reification_id");
        $(div_form_anchor.getElementsByClassName("reification_attr_form")).serializeArray().forEach(attr => {
            post_data["reification_attr_form"][attr["name"]] = attr["value"];
        });
        Array.from(div_form_anchor.getElementsByClassName("triple_form_anchor")).forEach(triple_form_container => {
            Array.from(triple_form_container.getElementsByClassName("triple_form")).forEach(triple_form => {
                var direction = triple_form_container.closest(".reification_triple_direction_carrier").getAttribute("data-direction");
                if (direction == "to_reification") {
                    post_data["triple_data_to_reification_list"].push(parse_triple_form(triple_form));
                } else if (direction == "from_reification") {
                    post_data["triple_data_from_reification_list"].push(parse_triple_form(triple_form));
                } else {
                    throw new Error('No reification direction found.');
                }
            })
        });
        // If the dictionary were passed without stringifying it, the nested structure would get lost.
        post_data = JSON.stringify(post_data);
        $.ajax({
            type: 'POST',
            headers: ajax_headers,
            url: "{% url 'apis:apis_relations:ajax_2_post_reification_form' %}",
            data: post_data,
            success: function (response) {
                div_form_anchor.innerHTML = response["form"];
                var div_table_anchor = reification_data_carrier.getElementsByClassName("reification_table_anchor")[0];
                div_table_anchor.innerHTML = response["table"];
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    };

    // calls the python function with same name, loads an updated table
    function ajax_2_delete_reification(div_origin, reification_id) {
        var reification_data_carrier = div_origin.closest(".reification_data_carrier");
        var post_data = load_from_reification_data_carrier(reification_data_carrier);
        post_data["reification_id"] = reification_id;
        $.ajax({
            type: 'POST',
            headers: ajax_headers,
            url: "{% url 'apis:apis_relations:ajax_2_delete_reification' %}",
            data: post_data,
            success: function (response) {
                var div_form_anchor = reification_data_carrier.getElementsByClassName("reification_form_anchor")[0];
                var div_table_anchor = reification_data_carrier.getElementsByClassName("reification_table_anchor")[0];
                div_form_anchor.innerHTML = response["form"];
                div_table_anchor.innerHTML = response["table"];
            },
            error: function (response) {
                console.log(response)
            }
        })
    };

    // TODO RDF: This is probably only used by highlighter by now. Remove once the highlighter is
    // adapted to new ajax logic.
    function GetFormAjax(FormName , ObjectID , ButtonText) {
        function add_form(data) {
            // update our tooltip content with our returned data and cache it
            $('#tab_'+data.tab).find('div:eq(1)').remove();
            $('#tab_'+data.tab).append(data.form);
	        $('#form_PersonInstitutionForm div:first div:first select').focus();
            $('#tab_'+data.tab+" select.listselect2").each(function( index, element ){
                //console.log($(this).data("autocompleteLightUrl"))
            $(this).select2({
                escapeMarkup: function(markup) {
                return markup;
            },
            templateResult: function(data) {
                return data.text;
            },
            templateSelection: function(data) {
                return data.text;
            },
                ajax: {
                url: $(this).data("autocompleteLightUrl"),
                dataType: 'json'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                },
            })

            })            //$(".form.ajax_form").unbind()
            //console.log($('#tab_'+data.tab+" select.listselect2"))
        };
        if (!$.ApisForms) {
            $.ApisForms = {}
        };
        if (ObjectID === undefined) {
            if ($.ApisForms[FormName+'_'+'{{entity_type}}']) {
                var new_data = $.ApisForms[FormName+'_'+'{{entity_type}}']
                new_data.form = new_data.form.replace('##ENT_PK##', {{instance.pk}});
                add_form(new_data);
                return;
            };
        };
        if (ButtonText === undefined) {
            ButtonText = 'create/modify';
        };
        //console.log("apis:apis_relations:get_form_ajax", "{% url 'apis:apis_relations:get_form_ajax' %}");
        return $.ajax(
            {
                type: 'POST',
                url: '{% url 'apis:apis_relations:get_form_ajax' %}',
                beforeSend: function(request) {
                    var csrftoken = getCookie('csrftoken');
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                data: {
                    'FormName':FormName,
                    'SiteID':{{instance.pk}},
                    'ObjectID':ObjectID,
                    'ButtonText':ButtonText,
                    'entity_type': '{{entity_type}}',
                },
                success: function(data) {
                    add_form(data);
                    if (!ObjectID) {
                        $.ApisForms[FormName+'_'+'{{entity_type}}'] = data;
                        $.ApisForms[FormName+'_'+'{{entity_type}}'].form = $.ApisForms[FormName+'_'+'{{entity_type}}'].form
                        .replace('/{{instance.pk}}/', '/##ENT_PK##/');
                    };
                },
                error: function(error) {
                    console.log(error)
                }
            }
        );
    };

    // TODO RDF: This is probably only used by highlighter by now. Remove once the highlighter is
    // adapted to new ajax logic.
    function EntityRelationForm_response(response){
        if (response.test == false) {
            $('#'+response.DivID).replaceWith(response.form);
            //$(".form.ajax_form").unbind();
            if ($.ApisHigh.tt_instance_detail) {
            if ($.ApisHigh.tt_instance_detail["__state"] == 'stable') {
                $.ApisHigh.tt_instance_detail.content(response.form);
            } }
        } else {
            //console.log('test did not fail');
             $('#tab_'+response.tab).find('div').remove();
             $('#tab_'+response.tab).append(response.table_html);
             initiate_compare_tooltip();
             {% if instance %}
             if (check_perms_relation()){
             if (response.triple_pane) {
                 //console.log('fetching form');
                 //console.log(response.tab);
             GetFormAjax(response.tab);};
             if ($.ApisHigh){
             if ($.ApisHigh.tt_instance_detail["__state"] == 'stable') {
                $.ApisHigh.tt_instance_detail.close()
             } else {

             $('.reldelete').addClass('disabled')
           }}}
             {% endif %}
        };
        unbind_compare_forms();
    };

    function HighlForm_response(response){
        if (response.test == false) {
            $.ApisHigh.tt_instance.content(response.form);
            //$(".form.ajax_form").unbind()
        } else {
             $('#tab_'+response.tab+' div.table-container').remove();
             $('#tab_'+response.tab).prepend(response.table_html);
             //GetFormAjax(response.tab+'Form');
             $('#htxt_'+response.text.id).html($.parseHTML(response.text.text))
             $.ApisHigh.tt_instance.close()
             $('html, body').animate({ scrollTop: ($('#'+$.ApisHigh.selected_text.id).offset().top)}, 'slow');
             $('mark.highlight').off();
             $('mark.highlight').on("click", highlight_detail);
             initiate_compare_tooltip();
        }
    };

    function PAddRelation_response(response){
        if (response.test == false) {
            $.ApisHigh.tt_instance.content(response.form);
            //$(".form.ajax_form").unbind()
        } else {
             $('#htxt_'+response.text.id).html($.parseHTML(response.text.text))
             $.ApisHigh.tt_instance.close()
             $('html, body').animate({ scrollTop: ($('#'+$.ApisHigh.selected_text.id).offset().top)}, 'slow');
             $('mark.highlight').off()
             $('mark.highlight').on("click", highlight_detail)
        }
    };

    function DeleteTempEntity(pk, kind, app_name=false) {
        if (app_name){
            var url = '/apis/api/'+app_name+'/'+kind+'/'+pk.toString()
        } else {
        var url = '/apis/api/'+kind+'/'+pk.toString()}
        $.ajax({
            type: 'DELETE',
            url: url,
            beforeSend: function(request) {
                  var csrftoken = getCookie('csrftoken');
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                  },
            statusCode : {
                204: function() {
                    if (kind=='HLAnnotation') {
                        $('*[data-hl-ann-id="'+pk+'"]').contents().unwrap()
                    } else {
                    $('#tempEntity_'+pk).parents('tr').remove()
                }
                }
            }
        })
    };

    function DeleteAnnTempEntity(an_pk, rel_class, rel_pk, app_name) {
        DeleteTempEntity(an_pk,"HLAnnotation");
        DeleteTempEntity(rel_pk, rel_class, app_name);
    };

    function check_perms_relation(){
        {% if instance %}
        {% if "change" in permissions %}
        return true
        {% else %}
        return false
        {% endif %}
        {% endif %}
    };

    function activate_editing(){
            {% for obj in triple_pane %}
            //GetFormAjax("{{obj.2}}");
            //unbind_ajax_forms();
            {% endfor %}
    {% if highlighter_active %}
        init_apis_highlighter(1, {{instance.pk}});
        if (typeof $.ApisHigh.vars == 'undefined') {
            $.ApisHigh.vars = {}; };
            $.ApisHigh.vars.entity_type = '{{entity_type}}';
            $.ApisHigh.vars.instance_pk = '{{instance.pk}}';
            $.ApisHigh.vars.urls = {};
            $.ApisHigh.vars.urls.get_form_ajax = "{% url 'apis:apis_relations:get_form_ajax' %}";
            $.ApisHigh.vars.urls.annotatoragreementview = "{% url 'apis:apis_api2:AnnotatorAgreementView' %}";
            $.ApisHigh.vars.urls.showoverlappinghighlights = "{% url 'apis:apis_api2:ShowOverlappingHighlights' %}";
          activate_context_menu_highlighter();
          $('body').on("click", 'mark.highlight', highlight_detail);
        {% endif %}
     };

    function deactivate_editing(){
        $('.reldelete').addClass("disabled");
        $('.reldelete').prop("disabled", true);
        $('.reledit').addClass("disabled");
        $('.reledit').prop("disabled", true);
     };
{% endif %}
{% if instance %}
{% if permissions.change %}
activate_editing();
{% else %}
deactivate_editing();
{% endif %}
{% endif %}
</script>
{% endblock %}
