<div id="ajax_form_id">
    <h3>ajax_reification_form</h3>
    <form id="generic_reification_form_id_form" onsubmit="return false;">
        {{ property_autocomplete_field_to_reif_rendered }}
        {{ property_autocomplete_field_to_reif_rendered2 }}
        {% for field in reification_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {% if not field.field.widget.is_hidden %}
            {{ field.label_tag }}
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        {% for ctf in contextual_triple_form_list %}
            <h4>{{ ctf.0 }}</h4>
            <div id="contextual_triple_form_container_{{ ctf.0 }}">
                {{ ctf.1 }}
            </div>
            <input onclick="ajax_2_create_contextual_triple_form({'entity_type_self_str':'bookpublicationrelationship', 'entity_type_other_str':'e40_legal_body', 'id_number':generated_form_counter, 'div_origin':'contextual_triple_form_container_{{ ctf.0 }}'})" type="submit" class="btn btn-primary" value="ajax_2_create_contextual_triple_form" />
            <br>
        {% endfor %}
        <input onclick="ajax_2_post(this.parentElement)" type="submit" class="btn btn-primary" value="reification" />
    </form>
</div>

<script>
    //var generated_form_counter = document.querySelectorAll('[id ^= "contextual_triple_form_single"]').length;
    var generated_form_counter = {{ contextual_triple_form_count }};
    function read_form_data(form_elem) {
        var serializedData = $(form_elem).serialize();
        console.log(serializedData);
        let csrftoken = '{{ csrf_token }}'
    }
</script>