<div id="ajax_form_id">
    <form id="generic_reification_form_id_form" onsubmit="return false;">
        <div id="{{ contextual_triple_form_to_reif.0 }}">
            {{ contextual_triple_form_to_reif.1 }}
        </div>
        <h4>{{ entity_type_reification_str }}</h4>
        {% for field in reification_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {% if not field.field.widget.is_hidden %}
            {{ field.label_tag }}
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        {% for contextual_triple_form in contextual_triple_form_list %}
            <h4>{{ contextual_triple_form.0 }}</h4>
            <div id="{{ contextual_triple_form.1 }}">
                {{ contextual_triple_form.2 }}
            </div>
            <input onclick="ajax_2_create_contextual_triple_form({'entity_type_self_str':'{{ contextual_triple_form.3 }}', 'entity_type_other_str':'{{ contextual_triple_form.4 }}', 'div_origin':'{{ contextual_triple_form.1 }}'})" type="submit" class="btn btn-primary" value="+" />
            <br>
        {% endfor %}
        <input onclick="ajax_2_post(this.parentElement)" type="submit" class="btn btn-primary" value="reification" />
    </form>
</div>