{% load relations %}
{% load crispy_forms_tags %}
{% for rel, model in relation_types %}

  {% if instance %}
    {% url 'apis:relation' rel.pk instancect.pk instance.pk contenttype.pk as hrefurl %}

    {% if rel in relation_types_reverse %}
      {% url 'apis:relationinverted' rel.pk instancect.pk instance.pk contenttype.pk as hrefurl %}
    {% endif %}

  {% else %}
    {% url 'apis:relation' rel.pk as hrefurl %}
  {% endif %}

  <a href="{{ hrefurl }}" 
    {% if htmx %} data-toggle="collapse" data-target="#collapse-{{ rel.model }}-{{ contenttype.name }}" hx-get="{{ hrefurl }}?partial&formonly" hx-target="#collapse-{{ rel.model }}-{{ contenttype.name }}" {% endif %}
    >
    <button type="button" class="btn btn-sm">

      {% if rel in relation_types_reverse %}
        {{ model.reverse_name }}
      {% else %}
        {{ model.name }}
      {% endif %}

    </button>
  </a>
{% endfor %}
{% for rel, model in relation_types %}
  <div class="collapse" id="collapse-{{ rel.model }}-{{ contenttype.name }}"></div>
{% endfor %}
