#SPDX-FileCopyrightText: 2024 Birger Schacht
#SPDX-License-Identifier: MIT
name: Run deptry dependency checker

on: [push, pull_request]

jobs:
  deptry:
    uses: acdh-oeaw/prosnet-workflows/.github/workflows/poetry-deptry.yml@v0.4.1
    with:
      src: "."
