#SPDX-FileCopyrightText: 2023 Birger Schacht
#SPDX-License-Identifier: MIT

name: Django Test

on: 
  pull_request:

env:
  DJANGO_SETTINGS_MODULE: sample_project.settings

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Test
      run: uv run pytest
    - name: Make migrations
      run: uv run ./manage.py makemigrations
    - name: Migrate
      run: uv run ./manage.py migrate
    - name: Schema generation test
      run: uv run ./manage.py spectacular --fail-on-warn
